@namespace BlazorUI
@page "/SVGTestPage"

<PageTitle>SVGTest</PageTitle>

<h1>SVGTestPage</h1>

<SvgViewer @ref="@svgViewer"
    InitialPaths="@initialPaths"
    SvgUrl="Level1.svg"
    PathsChanged="OnPathsChanged"
    @bind-AllInsideSelected="@allInsideSelected"/>


<div>Selected Paths: @(string.Join(",",currentPaths))</div>
<div>All Inside Selected: <strong>@(allInsideSelected ? "✅ YES" : "❌ NO")</strong></div>
@if (allInsideSelected)
{
    <div class="alert alert-success mt-2">
        All paths inside the bounding box are selected!
    </div>
}
This is for testing SVGs.
<button onclick="@TestSelect">TestSelect</button>

@code {
    private List<string> currentPaths = new();
    private SvgViewer? svgViewer;
    private List<string> initialPaths = new List<string> { "Ballroom_1" };
    private bool allInsideSelected = false;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
       await base.OnAfterRenderAsync(firstRender);
    }

    private void OnPathsChanged(List<string> paths)
    {
        currentPaths = paths;
    }
    private async Task TestSelect()
    {
        var paths = new List<string> { "Ballroom_2" };
        await svgViewer!.SelectPaths(paths);
    }
}